@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

* {
    font-family: Lato;
}

#intro {
    background: aqua;
    padding: 20px;
}

#photos {
    background: purple;
}

.coolSection {

    text-align: center;
}