@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

* {
    font-family: Lato;
}

#intro {
    background: aqua;
    padding: 20px;
}

#introTable {
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

table, th, td {
    border: 1px solid black;
}

#photos {

}

.coolSection {

    text-align: center;
}