body{
     background-color: azure;
 }
.sub-heading{
    background-color: yellow;
    text-decoration: underline;
}
header{
    background-color: blue;
    color:white;
    font-size: 30px;
    margin: 20px auto;
    padding: 10px ;
    text-align: center;
    /*border-style: dashed;*/
    /*border-color: yellowgreen;*/
}
main{
    background-color: darkgrey;
    width: 600px;
    margin: 0 auto;
    padding: 40px;
    border: yellow 2px solid;
}
#nav{
    background-color:blue;
    color:white;
}